Options -Indexes

ErrorDocument 404 /404.php
ErrorDocument 403 /

<FilesMatch "\.inc.php">
  order deny,allow
  deny from all
</FilesMatch>

## SEO Friendly URLs ##
#RewriteEngine On
#RewriteRule ^category/([a-zA-Z0-9\-]+)$ /retailers.php?cat=$1
#RewriteRule ^category/([a-zA-Z0-9\-]+)/([a-zA-Z0-9\-]+)$ /retailers.php?cat=$1&letter=$2
#RewriteRule ^retailers/([0-9]+)/([a-zA-Z0-9\-]+)$ /view_retailer.php?id=$1
#RewriteRule ^coupons/([0-9]+)/([a-zA-Z0-9\-]+)$ /view_retailer.php?id=$1#coupons